.profile-photo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.profile-photo, .current-profile-photo {
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
  width: 300px;
  height: 300px;
}

.edit-photo-link {
  margin-bottom: 20px;
  text-align: center;
}
