<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col-md-4">
      <div class="list-group">
        <% @conversations.each do |conversation| %>
          <%= render 'conversation_card', conversation: conversation %>
        <% end %>
      </div>
    </div>
    <div class="col-md-8">
      <% if @conversation %>
        <%= render 'conversation', conversation: @conversation %>
      <% else %>
        <div class="text-center mt-5">
          <p>Sélectionnez une conversation pour commencer à chatter.</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
