<%= simple_form_for :filters, url: users_path, method: :get, html: { class: 'form-inline' } do |f| %>

  <% if current_user.aupair? %>
    <!-- Dropdown pour les nationalités -->
    <div class="form-group mx-sm-3 mb-2">
      <%= f.input :nationality, label: "Nationality",
                  as: :select,
                  collection: [["All nationalities", nil]] + User.family.distinct.pluck(:nationality).map { |n| [n, n] },
                  selected: params.dig(:filters, :nationality),
                  input_html: { class: 'form-control' } %>
    </div>

    <!-- Dropdown pour le nombre d'enfants maximum -->
    <div class="form-group mx-sm-3 mb-2">
      <%= f.input :max_number_of_children, label: "Number of Children (Max)",
                  as: :select,
                  collection: (@min_children..@max_children).to_a,
                  prompt: "Select max number of children",
                  selected: params.dig(:filters, :max_number_of_children),
                  input_html: { class: 'form-control' } %>
    </div>
  <% end %>

  <div class="form-group mx-sm-3 mb-2">
    <%= f.submit "Apply Filters", class: "btn btn-primary" %>
  </div>

<% end %>
