<%= render 'navbar' %>

<!-- Titre principal de la page -->
<% if current_user.aupair? %>
  <h1 class="text-center my-4">Find a family</h1> <!-- Centré et avec marges verticales -->
<% else %>
  <h1 class="text-center my-4">Find your next au pair</h1> <!-- Centré et avec marges verticales -->
<% end %>

<!-- Affichage des filtres -->
<%= render 'filters' %>

<!-- Grille pour afficher les cartes des aupairs -->
<%= render 'users_list' %>

<!-- Footer -->
<%= render 'footer' %>
