<div class="footer">
  <div class="links">
    <a href="#"><i class="fab fa-fw fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-fw fa-twitter"></i></a>
    <a href="#"><i class="fab fa-fw fa-instagram"></i></a>
    <p>This website was coded with <i class="fas fa-heart"></i> at Le Wagon.</p>

  </div>
</div>
