<%= render 'navbar' %>

<div class="container-hero">
  <div class="row m-0">
    <!-- Colonne 1 : Texte Hero -->
    <div class="col-md-6 col-hero">
      <div class="hero">
        <p class="hero-text">Find your next<br>Au Pair, the easy way.</p>
      </div>
    </div>

    <!-- Colonne 2 : Liste -->
    <div class="col-md-6 d-flex flex-column align-items-center">
      <ul class="features-list">
        <li><i class="fa-regular fa-circle-check" style="color: #FD3967"></i>  Explore Au Pairs and Families all around the world</li>
        <li><i class="fa-regular fa-circle-check" style="color: #FD3967"></i>  Sort profiles by location, languages, duration of the trip</li>
        <li><i class="fa-regular fa-circle-check" style="color: #FD3967"></i>  Match, get in touch, and begin your journey !</li>
      </ul>
      <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-primary w-50" %>
    </div>
  </div>
</div>
