<%= render 'users/navbar' %>

<div class="container">
  <!-- Notifications de matchs -->
  <% if @pending_matches.any? %>
    <h5 class="p-3">Pending matches</h5>
    <div class="list-group">
      <% @pending_matches.each do |match| %>
        <%= render 'matches/notification', match: match %>
      <% end %>
    </div>
  <% end %>
  <div class="container conversation-container m-4">
    <div class="row">
      <!-- Colonne gauche : Notifications et conversations -->
      <div class="col-md-4 conversation-component">
        <!-- Liste des conversations -->
        <% if @conversations.any? %>
          <h5 class="p-3">Conversations</h5>
          <div class="list-group">
            <% @conversations.each do |conversation| %>
              <%= render 'conversation_card', conversation: conversation %>
            <% end %>
          </div>
        <% else %>
          <p class="p-3">No conversations yet</p>
        <% end %>
      </div>

      <!-- Colonne droite : Contenu de la conversation -->
      <div class="col-md-8">
        <% if @conversation %>
          <%= render 'conversation', conversation: @conversation %>
        <% else %>
          <div class="text-center mt-5">
            <p>Select a conversation or match a user to start chatting !</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
