<%= render 'users/navbar' %>

<div class="container">
  <%# Affichage des notifications %>
  <% @pending_matches.each do |match| %>
    <%= render 'notification', match: match %>
  <% end %>

  <h1>Accepted matches</h1>
  <% @accepted_matches.each do |match| %>
    <div class="match-notification" >
      <p><span class="text-primary"><%= match.initiated_by.first_name %></span> : c'est un match !</p>
    </div>
  <% end %>

  <h1>Refused matches</h1>
  <% @refused_matches.each do |match| %>
    <div class="match-notification" >
      <p><span class="text-primary"><%= match.initiated_by.first_name %></span> : match refusé.</p>
    </div>
  <% end %>
</div>
