.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 50px !important;
}

.nav-item {
  margin-right: 20px;
  margin-left: 20px;
}
